@import "../styles/constants";

.hero {
    @apply w-full min-h-screen
        flex flex-col md:flex-row justify-center md:justify-around items-center
        px-8 md:px-32 gap-8 md:gap-32;
    background-image: url("../../public/home/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    position: relative;

    &::after {
        content: "";
        @apply absolute bottom-0 left-0 w-screen h-[30%];
        background-image: linear-gradient(transparent, $primary);
    }
}

.introduction {
    @apply flex flex-col md:flex-row gap-8 md:gap-32;
    background-image: linear-gradient($primary, $secondary);
    padding-bottom: 120px !important;
}

.browse {
    @apply relative bg-primary border-t-2 border-white;
    padding-top: 1.5rem !important;

    //&::before {
    //    content: "";
    //    @apply absolute top-0 left-0 bg-primary border-t-2;
    //    width: 120%;
    //    height: 50px;
    //    transform: translateY(-50%) rotateZ(1deg);
    //}

    .browseItem {
        @apply relative max-w-md mx-auto
                shadow-slate-700 shadow-md
                hover:shadow-slate-700 hover:shadow-lg
                hover:scale-105 transition-all duration-300 ease-in-out
                hover:cursor-pointer;

        img {
            @apply mx-auto w-full object-cover rounded-md;
            aspect-ratio: 2/1;
            -webkit-user-drag: none;

            filter: brightness(0.3);
            transition: filter $animation-duration ease-in-out;
            &:hover {
                filter: brightness(0.5);
            }
        }

        figcaption {
            @apply absolute bottom-4 left-1/2 -translate-x-1/2 text-2xl;
        }
    }
}